h1{
	color: rgb(79, 221, 221);
	font-size: 80px;
		margin-left: 120px; 
}

.content {
	max-width: 640px;
	margin: 0 10%;
}

.form {
	width: 100%;
	margin: 0;
	padding: 0;
}

.light {
	width: 35%;
	margin-left: 184px;
}

.on {
	width: 181px;
	height: 240px;
	background-image: url(on.jpg);
	cursor:pointer;
	border: none;
	margin-right: 40px;
	margin-left: 80px;
}

.off {
	width: 181px;
	height: 240px;
	background-image: url(off.jpg);
	cursor:pointer;
    border: none;
}