h1{
	color: rgb(79, 221, 221);
	font-size: 80px;
		text-align: center;
}

.content {
	max-width: 640px;
	margin: 0 10%;
}

.form {
	width: 100%;
	margin: 0;
	padding: 0;
}

.switch {
	width: 30%;
	padding: 0 20%;
	margin:24;
}

.light {
	width: 35%;
	padding: 0 30%;
}
