<html>
	<head>
		<meta charset="utf-8">
			<link rel="stylesheet" href="static/styleluminator.css">		
		
	</head>
	<body>
	<div class="content">
		<br>
		<h1>Le Luminator</h1>
		<br>
			{% if led_on %}	
			<img class="light" src="{{ url_for('static', filename='vert.jpg') }}">
			{% else %}
			<img class="light" src="{{ url_for('static', filename='rouge.jpg') }}">
			{% endif %}
		<br>
		<form class="form" method="POST">
			<button type="submit" name="light" value="on"><img class="switch" src="{{ url_for('static', filename='on.jpg') }}"></button>
			<button type="submit" name="light" value="off"><img class="switch" src="{{ url_for('static', filename='off.jpg') }}"></button>
		</form>
	</div>
	</body>
</html>